<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6" *ngFor="let post of posts">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="green">
                            <img *ngIf="!post.image" height="100" src="https://sl.d.umn.edu/och/PhotoGallery/no-image-available.jpg">
                            <img *ngIf="post.image" height="100" src="uploads/post.image">
                        </div>
                        <div class="card-content">
                            <h4 class="title">{{post.title }}</h4>
                            <p class="category">{{post.body | words : 20 : '...' }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Updated at {{ post.created_at | date:'fullDate' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <h2>Recent Blog</h2>
            <ul class="list-group">
                <li class="list-group-item">1. First item</li>
                <li class="list-group-item">2. Second item</li>
                <li class="list-group-item">3. Third item</li>
                <li class="list-group-item">4. First item</li>
                <li class="list-group-item">5. Second item</li>
            </ul>
        </div>
    </div>
</div>